# Dependencies
backend-new/node_modules/

# # Environment variables and secrets
# .env
# credentials/
# .gdrive-server-credentials.json
# gcp-oauth.keys.json

# IDE files
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
backend-new/.DS_Store
Thumbs.db 